<%- include('../page/layout-start.ejs', {title: title}) %>

<main class="main">
  <div class="container">
    <h1><%= title %></h1>
    <p>Это бесполезная страница контактов. Можно сразу идти в <a href="/api/books/book" title="Библиотека">библиотеку</a>.</p>
  </div>
</main>

<%- include('../page/layout-end.ejs') %>